<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AdoreVenture</string>
	<key>CFBundleIdentifier</key>
	<string>com.DagmawiMulualem.AdoreVenture</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AdoreVenture</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.03</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.511063168199-99konigv6rmlfedetmics0pqsgk5ajfb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>appleid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.DagmawiMulualem.AdoreVenture</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>16</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>AdoreVenture uses the camera so you can take and attach travel photos to your map entries.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>AdoreVenture saves travel images to your photo library only when you choose to export them.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>AdoreVenture needs access to your photo library so you can select and attach travel photos.</string>
	<key>OPENAI_API_KEY</key>
	<string>YOUR_OPENAI_API_KEY</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>location-services</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UNSPLASH_ACCESS_KEY</key>
	<string>qGrmpFFfwnLDsA3-PMboebL4qB-XniTIldN5zfQFYnc</string>
</dict>
</plist>
